💸 **ОПЛАТА ЗАКАЗА УСПЕШНО ПРОВЕДЕНА!**

🆔 **Событие:** {{.EventUuid}}
📦 **Заказ:** {{.OrderUuid}}
🙋 **Пользователь:** {{.UserUuid}}

💳 **Метод оплаты:** {{.PaymentMethod}}
🔗 **Транзакция:** {{.TransactionUuid}}